.sel_form_field{
	margin-bottom: 10px;
}
.sel_form_field label{
	display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.sel_form_field input{
	width: 100%;
}
.sel-menu-page-row{
	background: #fff;
    padding: 10px;
}
.sel-menu-page-row p{
	font-size: 14px;
}