:root {
	--event_border_color: #07ca81;
	--event_background_color: #f6f6f6;
	--event_meta_border_color: #ddd;
	--event_meta_name_background_color: #d9d9d9;
	--event_tags_background_color: #606060;
	--event_tags_color: #fff;
  }

ul.sel_event_list{
	list-style: none;
    padding: 0;
    margin: 0px;
}
ul.sel_event_list li.sel_single_event{
	padding: 10px;
    border-left: 2px solid var(--event_border_color);
    margin-bottom: 20px;
    background: var(--event_background_color);
}
.sel_event_list .sel_event_content p{
    margin: 5px 0px;
}
.sel_event_title{
	margin: 8px 0px;
}
.sel_event_meta_data{
	border-top: 1px solid var(--event_meta_border_color);
    border-bottom: 1px solid var(--event_meta_border_color);
    padding: 10px 0px;
    margin: 10px 0px;
}
.sel_event_meta_data span{
	font-weight: 500;
    min-width: 100px;
    display: inline-block;
    background: var(--event_meta_name_background_color);
    text-align: center;
    margin-right: 6px;
}
.sel_event_tags span{
    display: inline-block;
    background: var(--event_tags_background_color);
    padding: 0px 10px;
    border-radius: 10px;
    color: var(--event_tags_color);
	cursor: pointer;
	margin-bottom: 10px;
}

.sel_event_tags span:first-child {
    border-radius: unset;
    background: unset;
    font-weight: 500;
    color: initial;
	cursor: unset;
	padding: 0;
    margin-right: 10px;
}